@using MvcStok.Models.Entity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Kategori;
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m=>m.KategoriAd)
                    @Html.TextBoxFor(m=>m.KategoriAd,new{@class="form-control"})
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>
